$smallBorderRadius: 6px;
$mediumBorderRadius: 12px;
$largeBorderRadius: 20px;

$inputWidthXs: 55px;
$inputWidthSm: 120px;
$inputWidthMd: 220px;
$inputWidthLg: 320px;

$inputHeightSm: 28px;
$inputHeightMd: 34px;
$inputHeightLg: 40px;
