.timesheetContainer {
  width: 60%;
  margin: auto;
  cursor: default;
}

@media only screen and (max-width: 1200px) {
  .timesheetContainer {
    width: 80%;
  }
}

.calendar {
  margin: 48px auto;
}

.weekOfHeader {
  text-align: center;
  margin-bottom: 48px;
  font-weight: bold;
}
