.paginationContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;

  .pageNavContainer {
    grid-column-start: 2;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    font-size: 15px;

    a {
      text-decoration: none;
    }
  }

  .rangeContainer {
    margin-left: auto;
  }

  @media only screen and (max-width: $xlg) {
    display: flex;
    flex-direction: column;

    .rangeContainer {
      margin: 0;
    }
  }
}
