.reviewButton {
  border-radius: $mediumBorderRadius;
}

.unapprovedTimesheetError {
  color: $danger;
  margin-top: 100px;
  text-align: center;
}

.spinner {
  margin-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tableHeader {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.reviewLink {
  text-decoration: none;
}
