.flexInput {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.labelLeft {
  margin-right: 10px;
  font-weight: bold;
}

.labelTop {
  display: inline-block;
  margin-bottom: 10px;
  font-weight: bold;
}

.inputField {
  padding: 0px 4px 0px 4px;
  border: 2px solid $t1cgDarkGrey;
  background-color: $t1cgGrey;
  border-radius: $smallBorderRadius;

  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.textarea {
  padding: 8px;
  border: 2px solid $t1cgDarkGrey;
  background-color: $t1cgGrey;
  border-radius: $smallBorderRadius;

  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// widths
.defaultWidth {
  width: 100%;
}
.smallWidth {
  width: $inputWidthSm;
}
.mediumWidth {
  width: $inputWidthMd;
}
.largeWidth {
  width: $inputWidthLg;
}

// heights
.defaultHeight {
  height: 100%;
}
.smallHeight {
  height: $inputHeightSm;
}
.mediumHeight {
  height: $inputHeightMd;
}
.largeHeight {
  height: $inputHeightLg;
}

// text alignment
.leftAlign {
  text-align: left;
}
.centerAlign {
  text-align: center;
}
.rightAlign {
  text-align: right;
}

// font size
.smallFont {
  font-size: 12.5px;
}
.mediumFont {
  font-size: 14px;
}
.largeFont {
  font-size: 16px;
}

.disabled {
  border-width: 1px;
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

.bold {
  font-weight: bold;
}
